{{!-- <div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-12">
			{{view 'gucci-banner/gucci-banner'}}
		</div>
	 </div>
	<div class="row">
	 	<div class="col-xs-12 col-sm-12">
		 {{view 'video-banner/video-banner'}}
		</div>
	</div>
	<div class="row">
	 	<div class="col-xs-12 col-sm-12">
		 {{view 'products/products'}}
		</div>
	</div>
</div> --}}

{{!-- <div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-12">
			{{view 'gucci-banner/gucci-banner'}}
		</div>
	 </div>
	<div class="row">
	 	<div class="col-xs-12 col-sm-12">
		 {{view 'watch-banner/watch-banner'}}
		</div>
	</div>
	<div class="row">
	 	<div class="col-xs-12 col-sm-12">
		 {{view 'watches/watches'}}
		</div>
	</div>
</div> --}}

<div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-12">
			{{view 'gucci-banner/gucci-banner'}}
		</div>
	 </div>
	<div class="row">
	 	<div class="col-xs-12 col-sm-12">
		 {{view 'jewellery-banner/jewellery-banner'}}
		</div>
	</div>
	<div class="row">
	 	<div class="col-xs-12 col-sm-12">
		 {{view 'jewelleries/jewelleries'}}
		</div>
	</div>
</div>


